{% extends 'main/base.html' %}

{% block content %}

<script type="text/javascript">
    function showanswerbox(selfans) {
        console.log(selfans.checked)
        var showanswerboxnow = document.getElementById("wans");
        showanswerboxnow.style.display = selfans.checked ? "block" : "none";
    }
</script>


<div class="container">
    <div class="row">

        <div class="p-2">
            <h2><strong>질문하기</strong></h2>
        </div>

        <div class="col-12"></div>
        <div class="col-12 col-md-8">

            <form method="POST">
                {% csrf_token %}
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">제목</h5>
                        <p class="card-text">구체적이고 다른 사람에게 질문하고 있다고 상상해보세요.</p>
                        <textarea name='title' style="width:100%"></textarea>
                        <hr class="invis">
                        <h5 class="card-title">내용</h5>
                        <p class="card-text">누군가가 귀하의 질문에 답하는 데 필요한 모든 정보를 포함하십시오.</p>

                        <textarea id="editor" name="queseditor"></textarea>
                        <script>
                            ClassicEditor
                                .create( document.querySelector('#editor'), {
                                    codeBlock: {
                                        languages: [
                                            { language: 'python', label: 'Python' }
                                        ]
                                    }
                                } )
                                .then( editor => {
                                        console.log( editor );
                                } )
                                .catch( error => {
                                    console.error( error );
                                } );
                        </script>
                        <hr class="invis">
                        <h5 class="card-title">Tags</h5>
                        <p class="card-text">추가할 태그를 입력 해주세요! 여러 태그를 입력할 시 ','로 구분하시면 됩니다.</p>
                        <textarea name='tags' style="width:100%"></textarea>

                        <hr class="invis">

                        <input id="selfanswer" name="selfanswer" onclick="showanswerbox(this)" type="checkbox" value="">
                        <label for="selfanswer"> <strong> 자기 질문에 답하기 </strong> (지식, Q & A 스타일 공유) </label><br>

                        <div id="wans" style="display: none">
                            <h5 class="card-title">Your Answer</h5>
                            <textarea id="editor-self" name="selfanswereditor"></textarea>
                            <script>
                                ClassicEditor
                                    .create( document.querySelector('#editor-self'), {
                                        codeBlock: {
                                            languages: [
                                                { language: 'python', label: 'Python' }
                                            ]
                                        }
                                    } )
                                    .then( editor => {
                                            console.log( editor );
                                    } )
                                    .catch( error => {
                                        console.error( error );
                                    } );
                            </script>

                            <hr class="invis">
                        </div>

                    </div>
                </div>

                <button ; class="btn btn-primary mt-2 mb-2" style="width:100%" type="submit">질문 제출</button>
            </form>


        </div>

        <div class="col-12 col-md-4">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">질문 초안 작성 팁!</h5>
                    <p>커뮤니티는 특정 코딩, 알고리즘 또는 언어 문제를 해결하기 위해 여기에 있습니다. 의견 기반 질문을 하지 말아주세요.</p>
                    <hr class="invis">


                    <div class="accordion" id="accordionExample">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h2 class="mb-0">
                                    <button aria-controls="collapseOne" aria-expanded="true" class="btn btn-link btn-block text-left"
                                            data-target="#collapseOne"
                                            data-toggle="collapse" type="button">
                                        배경을 충분하게 설명해주세요.
                                    </button>
                                </h2>
                            </div>

                            <div aria-labelledby="headingOne" class="collapse show" data-parent="#accordionExample" id="collapseOne">
                                <div class="card-body">
                                    <ul>
                                        <li>문제를 어떻게 재현할 수 있는지 설명해주셔야 답변을 할 수 있어요.</li>

                                        <li> 모든 오류 메세지를 캡쳐해서 올려주세요.</li>

                                        <li> 목표에 대한 세부정보를 포함해주세요 (예상 및 실제 결과 설명)</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <h2 class="mb-0">
                                    <button aria-controls="collapseTwo" aria-expanded="false" class="btn btn-link btn-block text-left collapsed"
                                            data-target="#collapseTwo" data-toggle="collapse" type="button">
                                        시도한 내용을 설명 해주세요.
                                    </button>
                                </h2>
                            </div>
                            <div aria-labelledby="headingTwo" class="collapse" data-parent="#accordionExample" id="collapseTwo">
                                <div class="card-body">
                                    시도한 내용을 보여주고 이 사이트 또는 다른 곳에서 찾은 내용과 요구 사항을 충족하지 못한 이유를 알려주세요. 검색을하면 더 나은 답을 얻을 수도 있습니다.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingThree">
                                <h2 class="mb-0">
                                    <button aria-controls="collapseThree" aria-expanded="false" class="btn btn-link btn-block text-left collapsed"
                                            data-target="#collapseThree" data-toggle="collapse" type="button">
                                        소스 코드를 올려주세요.
                                    </button>
                                </h2>
                            </div>
                            <div aria-labelledby="headingThree" class="collapse" data-parent="#accordionExample" id="collapseThree">
                                <div class="card-body">
                                    <ul>
                                        <li>소스 코드를 스크린샷으로 올리면 답변을 하기 어렵습니다. 스크린샷이 아니라 마크다운 문법 을 이용해서 코드를 넣어 주세요.</li>

                                        <li>문제의 이해에 도움이 되는 경우에만 소스 코드를 첨부해 주세요.</li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>


</div>

</div>

{% endblock %}
 


